---
import { Image } from "astro:assets";

import SocialMedia from "./SocialMedia.astro";
const {
  photo,
  name,
  chessTitle,
  socialMedia,
  isInverted = false,
} = Astro.props;
---

<div
  class="relative flex flex-col md:flex-row gap-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-screen-md md:max-w-screen-xl mx-auto border border-white bg-white"
>
  <div
    class=`w-full md:w-1/2 bg-white grid place-items-center ${isInverted ? "md:order-2":""}`
  >
    <Image src={photo} alt={`Foto de ${chessTitle} ${name}`} />
    <!-- <img
      class="h-full object-cover rounded-xl"
      src={photo.src}
      alt={`Foto de ${chessTitle} ${name}`}
    /> -->
  </div>
  <div
    class=`w-full md:w-1/2 bg-white flex flex-col p-3 gap-2 ${isInverted ? "md:order-1":""}`
  >
    <div class="flex justify-between item-center">
      <p class="text-gray-500 font-medium hidden md:block">Argentina</p>
    </div>
    <h3
      class="font-black mb-4 text-gray-800 md:text-3xl text-xl inline-flex flex-col sm:flex-row items-center gap-4"
    >
      <span class="text-2xl md:text-3xl">{name}</span>
      <span
        class="bg-gray-200 px-3 py-1 rounded-full text-sm font-medium text-gray-800 flex text-center"
        >{chessTitle}</span
      >
    </h3>
    <div>
      <slot />
    </div>
    <div class="flex flex-row gap-4 justify-center flex-wrap pt-6 md:mt-auto">
      <SocialMedia socialMedia={socialMedia} />
    </div>
  </div>
</div>
